h2 {
        /*Titulo profesional, divertido, minimalista y moderno*/
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #000;    
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        line-height: 1.2;
        text-shadow: 0 0 0.2rem #000;
        text-decoration: none;
}
